@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
  }
}

@layer base {
  .header-offset {
    --calc-value: calc(87px + 3rem);
    padding-top: var(--calc-value);
  }

  .gradient-blue-to-green {
    background: linear-gradient(290deg, #00f260 -15.54%, #0575e6 64.94%);
  }

  .text-gradient-blue-to-green {
    background: linear-gradient(111deg, #0575e6 20.43%, #00f260 105.42%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  html {
    @apply bg-bg;
  }

  body {
    @apply relative flex min-h-screen w-full flex-col justify-between scroll-smooth font-sans font-normal text-white antialiased;

    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "pnum";
    text-rendering: geometricPrecision;
    font-feature-settings: "pnum";
    font-variant-numeric: proportional-nums;
    font-variant-ligatures: common-ligatures;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
  }

  h1,
  .text-h1 {
    @apply text-[45px] font-extrabold;
  }

  h2,
  .text-h2 {
    @apply text-[15px] font-bold uppercase tracking-[2px];
  }

  p {
    @apply text-base leading-[20px];
  }

  .lead {
    @apply text-[20px] leading-[30px];
  }

  a {
  }
}
