@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #070724;

    --primary-400: #ba9cff;
    --primary-500: #5721cc;
    --primary-600: #3c0f9e;
    --gradient-text: linear-gradient(97deg, #5b0bff -21.9%, #8e2de2 83.39%);
    --gradient-decorator: linear-gradient(
      293deg,
      #8e2de2 0.03%,
      #4a00e0 64.45%
    );
  }

  .dark {
    --primary-400: #4ba5ff;
    --primary-500: #0575e6;
    --primary-600: #0762bd;
    --gradient-text: linear-gradient(111deg, #0575e6 20.43%, #00f260 105.42%);
    --gradient-decorator: linear-gradient(
      290deg,
      #00f260 -15.54%,
      #0575e6 64.94%
    );
  }

  .header-offset {
    --calc-value: calc(87px + 3rem);
    padding-top: var(--calc-value);
  }

  .gradient-decorator {
    background: var(--gradient-decorator);
  }

  .text-gradient {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  html {
    @apply bg-bg;
  }

  body {
    @apply relative flex min-h-screen w-full flex-col justify-between scroll-smooth font-sans font-normal text-white antialiased;

    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "pnum";
    text-rendering: geometricPrecision;
    font-feature-settings: "pnum";
    font-variant-numeric: proportional-nums;
    font-variant-ligatures: common-ligatures;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
  }

  h1,
  .text-h1 {
    @apply text-[42px] font-extrabold lg:text-[45px];
  }

  h2,
  .text-h2,
  .text-overline {
    @apply text-[15px] font-bold uppercase tracking-[2px];
  }

  p {
    @apply text-base leading-[20px];
  }

  .lead {
    @apply text-base leading-[20px] lg:text-[20px] lg:leading-[30px];
  }

  a {
  }
}
